:root {
  --color-bg: #c0beae;
  --color-text: #6f5c02;

  --color-btn-bg-primary: #8260009c;
  --color-btn-text-primary: #fff;
  --color-btn-bg-secondary: #f1eceb;
  --color-btn-text-secondary: #6f5c02;

  --color-box-content-primary: #ffffffb0;
  --color-box-content-secondary: #ffffffb8;

  --color-input-primary: #495057;
  --color-input-secondary: #6e777f;
}
